<div class="container">

    <h1 class="mt-3">Dodaj Predmet</h1>

    <!-- <form #form="ngForm" (ngSubmit)="onFormSubmit()"> -->
        <form [formGroup]="addSubjectRequestForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2">

            <!-- <div class="mt-3">
                <label class="form-label">Naziv Predmeta</label>
                <input type="text" id="subjectName" class="form-control" name="subjectName" [(ngModel)]="addSubjectRequest.name">
            </div> -->

            <div class="mt-3">
                <label class="form-label">Naziv predmeta*</label>
                <input type="text" id="subjectName" class="form-control" formControlName="name"
                placeholder="Unesite naziv predmeta"> <!--Unutar fielda text-->
                
                <!--Dali je name oznacen kao touched(da je korisnik stisnuo na polje i izašao van)
                i ako je to istina i ako je polje invalid onda prikazi pogresku crvene boje i dolje sa ovim tekstom
                ? u ovom slucaju je safe navigation operator koristi se kako bi se izbjegla greška ako kontrola 'name' slučajno ne postoji, to se rijetko dogada ali ovo štiti od mogućih grešaka-->
                <div *ngIf="addSubjectRequestForm.get('name')?.touched && addSubjectRequestForm.get('name')?.invalid" class="text-danger">
                    Naziv predmeta je obavezan.
                  </div>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Spremi</button>
            </div>

        </div>
    </form>

</div>